/*universal reset*/
* {
    margin: 0 auto;
    padding: 0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

* button,
.header-menu-search input{
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid black;
}

.header-menu{
    border-bottom: 5px solid black;
    height: 80px;
    background-color: lightgrey;
}

.header-menu,
.main-primary{
    min-width:300px;
    width: auto;
    right: 0px;
}

.header-menu,
.header-menu-right,
.header-menu-search-form,
.header-menu-search-area,
.page-nav-title{
    display: flex; 
    align-items: center;
}


.header-menu-logo,
.header-menu-right,
.search-label{
    position: absolute;
}

.header-menu-logo{
    padding-left: 35px;
}

.header-menu-right{
    right: 20px;
}

.header-menu-nav{
    padding-right:20px;
}

.header-menu-nav-button button{
    width: 100px;
    height: 40px;
    margin: 3px;
}

.header-menu-search button{
    background-color: white;
    border-right: 1px dashed grey;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 40px;
}

.header-menu-search input{
    width: 240px;
    height: 40px;
    border-left:transparent;
    border-top-left-radius: 0;
    border-bottom-left-radius:0;
}

.search-label{
    color:grey;
    opacity: 90%;
    font-weight: 500;
    padding-left: 10px;
    pointer-events: none;
}

.header-menu-search input:focus + .search-label{
    display: none;
}

/*Start Content Section*/

.main-primary,
.main-secondary{
    display: flex;
}

.main-primary,
.main-secondary{
    margin: 20px;
}

.main-primary{
    margin-top: 30px;
}

.main-primary,
.page-nav{
    height: 510px;
}

.page-nav{
    border: 3px solid black;
    position: absolute;
    width: 200px;
}

.page-nav-title{
    border-bottom: 3px solid black;
    height: 40px;
}

.page-nav-list{
    margin: 10px 10px;
}

.page-nav-list ol{
    list-style-position: inside;
    list-style-type:upper-roman;
}

.page-nav-list ul{
    list-style-position: outside;
    margin: 5px 35px;
    margin-right: unset;
    margin-bottom: 10px;
}

.page-nav-list ul li{
    margin-bottom:inherit;
}
.page-nav-list a{
    text-decoration: unset;
}

.page-nav-list a:hover{
    text-decoration: solid underline rgb(0,0,238);
}

#nav-title{
    font-weight:500;
    font-size: 20px;
}

/*Start Page Summary Section*/
.page-topic{
    margin-left: 220px;
}

.page-topic-title{
    border-bottom: 3px solid black;
}

.page-topic-title p{
    font-size: 60px;
}

.page-topic-body{
    display: flex;
}


.page-topic-summary p{
    margin-right: 20px;
}

.page-topic-summary p,
.page-topic-title p,
.page-topic-img{
    margin: 10px;
}

/*Start Category Section*/
.main-secondary{
    height: 810px;
    border: 2px solid black;
}